.close-sidebar {
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 0;
    top: 0;
    overflow-x: hidden;
    background-color: lightblue;
    border: solid;
    border-color: thick double white;
    transition: 0.30s;
}

.open-sidebar {
    height: 200%;
    width: 550px;
    position: fixed;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
    top: 0;
    background-color: lightblue;
    border: solid;
    border-color: thick double white;
}


#toggle-button-open {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    position: relative;
    top: 2cm;
}

#toggle-button-close {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    position: absolute;
    top: 2cm;
    left: 13cm;
}


#cart {
   position: relative;
   top: 4cm;
}

#payment {
    position: relative;
    top: 6cm;
}

#checkout {
    position: relative;
    top: 8cm;
}

.sidebar .shopping-cart{
    height: 50%;
    width: 500px;
    position: fixed;
    /* z-index: 2; */
    top: 0;
    /* overflow-x: hidden; */
    margin-top: 3cm;

}

.sidebar .checkout-form {
    width: 400px;;
    /* background-color: black; */
    position: fixed;
    /* left: cm; */
    top: 6in;
    z-index: 1;
}

.sidebar .checkout-form-input {
    zoom: 125%;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
}

.sidebar .checkout-button{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
