.close-sidebar {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 2;
    top: 0;
    overflow-x: hidden;
    background-color: lightblue;
    /* add border color */
}

.open-sidebar {
    height: 100%;
    width: 500px;
    position: fixed;
    z-index: 2;
    top: 0;
    overflow-x: hidden;
    background-color: lightblue;
    /* add border color */
}



#toggle-button-open {
    position: relative;
    top: 2cm;
}

#toggle-button-close {
    position: absolute;
    top: 2cm;
    right: 0cm;
}


#cart {
   position: relative;
   top: 4cm;
}

#payment {
    position: relative;
    top: 6cm;
}

#checkout {
    position: relative;
    top: 8cm;
}

.sidebar .shopping-cart{
    height: 100%;
    width: 500px;
    position: fixed;
    z-index: 2;
    top: 0;
    overflow-x: hidden;
    margin-top: 3cm;

}