.home {
    width: 100%;
    max-width: 100vw;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.home .sidebar {
  float: left;
}

.home .navbar {
  float: top;
}

.sub-nav {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1cm;
}

.search-bar {
  position: relative;
  width: 6in;
  height: 1cm;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 20px;
}

.search-btn {
  position: relative;
  width: 40px;
  height: 1.05cm;
}

.category {
  margin: 2cm;
}