.product-card {
    margin: 1cm;
    border-radius: 25px;
    width: 3.12in;
    height: 400px;
    background-color: white;
}

#img {
    float: center;
    width:  300px;
    height: 300px;
    border-radius: 25px;
    background-size: cover;
}

.product-name {
    margin-right: 1cm;
    text-align: center;
}
