.about {
    background-color: lightgray;
    margin-top: 1in;
    margin-left: 2in;
}

.about-card{
    background-color: white;
    width: 1000px;
    height: 150px;
    margin-bottom: 1in;
    margin-left: 10px;
    /* margin-left: auto;
    margin-right: auto; */
    zoom: 110%;
}


.about-info {
    margin-left: 30px;
    margin-right: 40px;
} 

.contact-card {
    background-color: white;
    width: 1000px;
    height: 150px;
    margin-bottom: 1in;
    margin-left: 10px;
    /* margin-left: auto;
    margin-right: auto; */
    zoom: 110%;
}

.contact-info {
    margin-left: 30px;
    margin-right: 40px;
}