.product-view .product-card {
    margin-top: 1px;
    margin-left: auto;
    margin-right: auto;
    zoom: 150%;
    border-radius: 0%;
    background-color: lightgray;
    width: 6in;
}

.product-id {
    margin-left: 10cm;
    text-align: left;
    margin-top: 3cm;
}

.product-card .remove {
    margin-left: 1cm;
}

.product-view #img {
    width: 3in;
    height: auto;
}

.product-view{
    height: max-content;
}