.checkout-form {
    zoom: 110%;
    z-index: 3;
    top: 0;
    overflow-x: hidden;
    width: 500px;
}

.checkout-form-input {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 80px;
    z-index: 2;
}
