.navbar {
    background-color: lightblue;
    width: 100%;
    height: 75px;
    position: fixed;
    z-index: 0;
    overflow-y: hidden;
}

#home {
    position: relative;
    left: 24cm;
}

#about {
    position: relative;
    left: 28cm;
}

#contact {
    position: relative;
    left: 32cm;
}

#buy {
    position: relative;
    left: 36cm;
}