.navbar {
    background-color: lightblue;
    width: 100%;
    height: 75px;
    position: fixed;
    z-index:1000;
    overflow-y: hidden;
    border: solid;
    border-color: thick double white;
}

#home {
    position: relative;
    left: 28cm;
}

#about {
    position: relative;
    left: 32cm;
}

#contact {
    position: relative;
    left: 36cm;
}
