.navbar {
    background-color: lightblue;
    width: 100%;
    height: 75px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index:1000;
    overflow-y: hidden;
    border: solid;
    border-color: thick double white;
}

/* .navbar .image {
    position: relative;
} */

/*
#home {
    position: fixed; 
    left: 28cm;
    bottom: 50px; 
}

#about {

    left: 32cm;

}

#contact {

    left: 36cm;

}

*/
