.product-detail .navbar .image {
    position: relative;
}


.product-detail .navbar {
    float: top;
    height: 75px;
}

.product-detail .navbar #home {
    position: relative;
    top: 25px;
    left: 28cm;
}

.product-detail .navbar #about {
    position: relative;
    top: 25px;
    left: 32cm;
}

.product-detail .navbar #contact {
    position: relative;
    top: 25px;
    left: 36cm;
}