.product-grid {
        display: flex;
        place-items:  center;
        flex-wrap: wrap;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        margin-top: 1cm;
        /* background-color: black; */
        align-items: center;
}

/* .product-grid .product-card .media {
    height: 250px;
    width: 100%;
} */