.product-grid {

        display: flex;
        place-items: center;
        flex-wrap: wrap;
        width: 80%;
        margin-left: 200px;
        margin-top: 4in;
        justify-content: center;
}

.grid-title {
width: 100%;
}
